:root {
  --font-color: black;
  [data-theme='dark'] {
    --background-color: var(--darktheme-background-color);
    /* --background-color: var(var(--background-color)); */
    --blue-color: #6f00ff;
  } /* Set the light mode variables... */
  [data-theme='light'] {
    --background-color: #fff;
    --blue-color: white;
  }
}
