:root {
	--black: #1f1e29;
	--black-opacity-10: #1f1e291a;
	--blue: #7ab7d4;
	--blue-dark: #6fa7c2;
	--gray: #e3e1e2;
	--gray-dark: #999;
	--green: #27d587;
	--green-dark: #23c37b;
	--purple: #7571a8;
	--purple-dark: #6b679a;
	--white: #f8f6f7;
	--white-opacity-10: #f8f6f71a;

	--border-radius: 1rem;

	--toggle-on-color: var(--green);
	--toggle-off-color: var(--gray-dark);
}
