.taskbar {
	--taskbar-height: 3rem;

	align-items: center;
	background-color: var(--taskbar-background-color);
	border-radius: var(--taskbar-height);
	bottom: 1rem;
	display: flex;
	gap: 0.25rem;
	left: 50%;
	max-width: 100%;
	padding: 1rem;
	position: fixed;
	transform: translateX(-50%);
	height: var(--taskbar-height);
}
