body {
	/* background-image: linear-gradient(to bottom, #020917, #101725); */
	color: var(--font-body-color);
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
}

.content {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.1;
	min-height: 100vh;
	position: relative;
}

.content h1 {
	color: var(--font-body-color);
	font-size: 3.6rem;
	font-weight: 700;
}

.content p {
	color: var(--font-body-color);
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.5;
}
